*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*shared style*/
.font-inter{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
}

/*header style*/
/* nav style */
nav{
    max-width: 1600px;
    height: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* border: 1px solid black; */
}
.logo{
    margin: 16px 345px 16px 120px;
}
nav .menu{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 32px;
}
nav .menu a{
    font-size: 16px;
    text-decoration: none;
    color: #000000;
    white-space: nowrap;
}
nav .btn-container{
    margin: 24px 120px 24px 345px;
    width: 164px;
    display: inline;
}
nav .btn{
    background-color: #30B868;
    display: inline-block;
    border: none;
    padding: 12.5px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    white-space: nowrap;
}
nav .btn:hover{
    font-size: 20px;
    background-color: #dd0707;
}

/* banner style */
#banner{
    width: 1600px;
    max-width: 100%;
    background: url(../assets/hero-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner .early p{
    background: rgba(255, 255, 255, 1);
    width: 229px;
    height: 35px;
    color: #30B868;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto ;
}
#banner .early p:hover{
    background-color: #627382;
}
#banner h1{
    display: flex;
    justify-content: center;
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 72px;
}
#banner h1 span{
    color: #30B868;
}
#banner .para p{
    display: flex;
    justify-content: center;
    color: rgba(255, 255, 255, 1);
    line-height: 24px;
}
#banner .btn{
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}
#banner #btn-a{
    background-color: #30B868;
    border: none;
    border-radius: 4px;
    color: rgba(255, 255, 255, 1);
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}
#banner #btn-a:hover{
    font-size: 20px;
    background-color: #dd0707;
}
#banner #btn-b{
    background: none;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 4px;
    color: rgba(255, 255, 255, 1);
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}
#banner #btn-b:hover{
    font-size: 20px;
    background-color: #dd0707;
}

/* Main style */
/* sec-a style */
#sec-a{
    height: 448px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background-color: rgba(255, 235, 205, 0.163);
    max-width: 1600px;
    width: 100%;
}
#sec-a .notes{
    display: flex;
    justify-content: center;
    color: black;
    font-size: 48px;
    font-weight: 700;
    padding-top: 60px;
}
#sec-a .you{
    padding: 16px;
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sec-a .card-par{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    padding-top: 50px;
    
}
#sec-a .chi-a, #sec-a .chi-b, #sec-a .chi-c, #sec-a .chi-d{
    background: white;
    width: 322px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 0px 8px #00000025;
    cursor: pointer;
}
#sec-a .chi-a img, #sec-a .chi-b img, #sec-a .chi-c img, #sec-a .chi-d img{
    background-color: #F95555;
    padding: 10px;
    height: max-content;
    border-radius: 50%;
}
#sec-a .chi-a h1, #sec-a .chi-b h1, #sec-a .chi-c h1, #sec-a .chi-d h1{
    color: #001931;
    font-size: 24px;
    font-weight: 600;
    padding: 16px;
}
#sec-a .chi-a p, #sec-a .chi-b p, #sec-a .chi-c p, #sec-a .chi-d p{
    color: #627382;
    margin: 16px 24px 70px;
    text-align: center;
}

/*sec b style*/
#sec-b{
    max-width: 1600px;
    width: 100%;
    /* padding: 0 120px; */
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
#sec-b .container{
    height: 840px;
    width: 1360px;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    /* padding-right: 50px; */
    /* padding: 90px; */
}

#sec-b .aus-a img{
    height: 600px;
    width: 600px;
    border-radius: 12px;
}

#sec-b .the{
    font-size: 16px;
    font-weight: 500;
    color: #30B868;

}
#sec-b h1{
    text-align: left;
    line-height: 58px;
    font-size: 48px;
    font-weight: 700;
    color: #001931;
}
#sec-b .person{
    margin-top: 16px;
    color: #627382;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

#sec-b .capture{
    margin-top: 40px;
    list-style: none;
}

#sec-b .capture li{
    display: flex;
    padding-bottom: 16px;
}
#sec-b .aus-b{
    padding-right: 120px;
}
#sec-b .capture li span{
    padding-left: 6px;
}

/* Challenge section */
#cha{
    /* width: 1360px; */
    width: 100%;
    max-width: 1600px;
    height: 506px;
    display: flex;
    /* padding: 2px 120px 120px 120px; */
    
}
#cha .cha-container{
    /* margin: 120px 2px 120px 120px; */
    background-color: #F7F6F2;
    border-radius: 12px;
    width: 1360px;
    max-width: 1600px;
    height: 384px;
    /* max-width: 1360px; */
    margin: 0 auto;
}
#cha h2{
    text-align: center;
    margin-top: 80px;
    color: rgba(0, 25, 49, 1);
    font-size: 40px;
    font-weight: 700;
}
#cha .join{
    margin-top: 16px;
    color: #627382;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
#cha button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #30B868;
    border: none;
    border-radius: 4px;
    color: rgba(255, 255, 255, 1);
    gap: 10px;
    font-size: 16px;
    font-weight: 600;
    padding: 16px;
    cursor: pointer;
}
#cha .b{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}
#cha button:hover{
    background-color: #dd0707;
    font-size: 20px;
}
#cha .free{
    text-align: center;
    margin-top: 16px;
    color: #627382;
    font-size: 16px;
    font-weight: 400;
}
#foot{
    max-width: 1600px;
    width: 100%;
    height: 348px;
    /* padding: 0 120px; */
    /* margin: 0 auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #001931;
}
#foot .foot-container{
    width: 1360px;
    margin: 120px 120px 30px 120px;
    /* border: 1px solid white; */
}
#foot .foot-container .foot-a{
    display: flex;
    justify-content: space-between;
    justify-content: row;

}
#foot .foot-container .foot-a img {
    width: 139px;
    height: 60px;
    object-fit: contain;
}
#foot .foot-container .foot-a .s{
    width: 220px;
    height: 64px;
    color: white;
}
#foot .s-img .x, .i, .f{
    cursor: pointer;
}
#foot .s-img .x:hover,.i:hover,.f:hover {
    font-size: 20px;
    color: #1da1f2;
}

#foot hr{
    border: none;
    border-top: 2px solid #e5e7eb4c;
    margin-top: 80px;
}
#foot .foot-container .foot-c{
    text-align: center;
    color: #F7F6F2;
    margin-top: 30px;
}




