*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*shared style*/
.font-inter{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
}

/*header style*/
/* nav style */
nav{
    width: 1600px;
    height: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
}
.logo{
    margin: 16px 345px 16px 120px;
}
nav .menu{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 32px;
}
nav .menu a{
    font-size: 16px;
    text-decoration: none;
    color: #000000;
}
nav .btn-container{
    margin: 24px 120px 24px 345px;
    width: 164px;
}
nav .btn{
    background-color: #30B868;
    border: none;
    padding: 12.5px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

/* banner style */
#banner{
    background: url(../assets/hero-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner .early p{
    background: rgba(255, 255, 255, 1);
    width: 229px;
    height: 35px;
    color: #30B868;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto ;
}
#banner h1{
    display: flex;
    justify-content: center;
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 72px;
}
#banner h1 span{
    color: #30B868;
}
#banner .para p{
    display: flex;
    justify-content: center;
    color: rgba(255, 255, 255, 1);
    line-height: 24px;
}
#banner .btn{
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}
#banner #btn-a{
    background-color: #30B868;
    border: none;
    border-radius: 4px;
    color: rgba(255, 255, 255, 1);
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    font-weight: 600;
    font-size: 16px;
}
#banner #btn-b{
    background: none;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 4px;
    color: rgba(255, 255, 255, 1);
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    font-weight: 600;
    font-size: 16px;
}

/* Main style */
/* sec-a style */
#sec-a{
    height: 448px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background-color: rgba(255, 235, 205, 0.163);
}
#sec-a .notes{
    display: flex;
    justify-content: center;
    color: black;
    font-size: 48px;
    font-weight: 700;
    padding-top: 60px;
}
#sec-a .you{
    padding: 16px;
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sec-a .card-par{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    padding-top: 50px;
}
#sec-a .chi-a, #sec-a .chi-b, #sec-a .chi-c, #sec-a .chi-d{
    background: white;
    width: 322px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    border-radius: 8px;
}
#sec-a .chi-a img, #sec-a .chi-b img, #sec-a .chi-c img, #sec-a .chi-d img{
    background-color: #F95555;
    padding: 10px;
    height: max-content;
    border-radius: 50%;
}
#sec-a .chi-a h1, #sec-a .chi-b h1, #sec-a .chi-c h1, #sec-a .chi-d h1{
    color: #001931;
    font-size: 24px;
    font-weight: 600;
    padding: 16px;
}
#sec-a .chi-a p, #sec-a .chi-b p, #sec-a .chi-c p, #sec-a .chi-d p{
    color: #627382;
    margin: 16px 24px 70px;
    text-align: center;
}


